/* General Reset and Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

h1 {
    color: teal;
    font-size: 3rem;
    margin-top: 50px;
}

p {
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}

.container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    margin-top: 50px;
}

.timer {
    font-size: 2rem;
    color: teal;
    margin-top: 30px;
    font-weight: bold;
}

.footer {
    margin-top: 50px;
    font-size: 1.2rem;
    color: white;
}

.timer span {
    font-size: 2.5rem;
}

/* Responsive Layout */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .timer {
        font-size: 1.5rem;
    }
}

